<h3>All authors</h3>
<ul>
  {{#each model.authors as |author|}}
     <!-- <li>{{author-tile author=author}}</li> -->
     <!-- <li>{{author.name}}</li> -->
     <li>{{#link-to 'author' author.id}} {{author.name}} {{/link-to}}</li>
  {{/each}}
</ul>

{{new-author save2="save3" author=model}}
