<h3>All authors</h3>
<ul>
  {{#each model.authors as |author|}}
     <li>{{#link-to 'author' author.id}} {{author.name}} {{/link-to}}<button {{action 'deleteAuthor' author}}>Delete</button></li>
  {{/each}}
</ul>

{{new-author save2="save3" author=model}}
